.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardContainer{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}